{%- doc -%}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render
  @param {object} [block] - The block

  @example
  {% render 'button', link: '/collections/all' %}
{%- enddoc -%}

{% assign block_settings = block.settings %}
{% render 'button-custom-styles', block_settings: block_settings, block_id: block.id %}

{% liquid
  assign has_icon = false
  if block_settings.icon != 'none' or block_settings.icon_image != blank
    assign has_icon = true
  endif
%}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    size-style
    {{ block_settings.style_class }}
    {{ block_settings.style_class }}--{{ block.id }}
    {% if has_icon %}button--has-icon{% endif %}
  "
  style="{% render 'size-style', settings: block_settings %}"
  {%- if block_settings.open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  {%- if has_icon and block_settings.icon_position == 'before' -%}
    {%- render 'icon-or-image',
      icon: block_settings.icon,
      image_upload: block_settings.icon_image,
      width: block_settings.icon_size,
      class_name: 'button-icon'
    -%}
  {%- endif -%}
  {{- block_settings.label -}}
  {%- if has_icon and block_settings.icon_position != 'before' -%}
    {%- render 'icon-or-image',
      icon: block_settings.icon,
      image_upload: block_settings.icon_image,
      width: block_settings.icon_size,
      class_name: 'button-icon'
    -%}
  {%- endif -%}
</a>
