{% assign block_settings = block.settings %}

{% if block_settings.type_preset == 'custom' %}
  {% style %}
    .details--{{ block.id }} {
      --summary-font-family: {{ block_settings.font }};
      --summary-font-style: {{ block_settings.font | replace: 'family', 'style' }};
      --summary-font-weight: {{ block_settings.font | replace: 'family', 'weight' }};
      {% if block_settings.font_size != blank %}--summary-font-size: {{ block_settings.font_size }};{% endif %}
      --summary-font-line-height: var(--line-height--body-{{ block_settings.line_height }});
      --summary-font-case: {{ block_settings.case }};
      --summary-font-letter-spacing: var(--letter-spacing--body-{{ block_settings.letter_spacing }});
    }
  {% endstyle %}
{% elsif block_settings.type_preset != blank %}
  {% style %}
    .details--{{ block.id }} {
      --summary-font-family: var(--font-{{ block_settings.type_preset }}--family);
      --summary-font-style: var(--font-{{ block_settings.type_preset }}--style);
      --summary-font-weight: var(--font-{{ block_settings.type_preset }}--weight);
      --summary-font-size: var(--font-{{ block_settings.type_preset }}--size);
      --summary-font-line-height: var(--font-{{ block_settings.type_preset }}--line-height);
      --summary-font-case: var(--font-{{ block_settings.type_preset }}--case);
    }
  {% endstyle %}
{% endif %}

{% if block_settings.type_preset_mobile == 'custom' %}
  {% style %}
    @media (max-width: 749px) {
      .details--{{ block.id }} {
        {% if block_settings.mobile_font_size != blank %}--summary-font-size: {{ block_settings.mobile_font_size }};{% endif %}
        {% if block_settings.mobile_custom_line_height != blank %}--summary-font-line-height: {{ block_settings.mobile_custom_line_height }};{% endif %}
      }
    }
  {% endstyle %}
{% elsif block_settings.type_preset_mobile != blank %}
  {% style %}
    @media (max-width: 749px) {
      .details--{{ block.id }} {
        --summary-font-family: var(--font-{{ block_settings.type_preset_mobile }}--family);
        --summary-font-style: var(--font-{{ block_settings.type_preset_mobile }}--style);
        --summary-font-weight: var(--font-{{ block_settings.type_preset_mobile }}--weight);
        --summary-font-size: var(--font-{{ block_settings.type_preset_mobile }}--size);
        --summary-font-line-height: var(--font-{{ block_settings.type_preset_mobile }}--line-height);
        --summary-font-case: var(--font-{{ block_settings.type_preset_mobile }}--case);
      }
    }
  {% endstyle %}
{% endif %}

{% if block_settings.heading_opacity != 100 %}
  {% style %}
    .details--{{ block.id }} .details__header {
      opacity: {{ block_settings.heading_opacity | default: 100 | divided_by: 100.0 }};
    }
  {% endstyle %}
{% endif %}

{% capture accordion_row_children %}
  <details
    class="details details--{{ block.id }}"
    data-testid="accordion-details"
    {% if block_settings.open_by_default %}
      open
    {% endif %}
    {{ block.shopify_attributes }}
  >
    <summary class="details__header">
      {% render 'icon-or-image',
        icon: block_settings.icon,
        image_upload: block_settings.image_upload,
        width: block_settings.width,
        class_name: 'details__icon'
      %}
      {{ block_settings.heading }}
      <span class="svg-wrapper icon-caret icon-animated">
        {{- 'icon-caret.svg' | inline_asset_content -}}
      </span>
      <span class="svg-wrapper icon-plus">
        {{- 'icon-plus.svg' | inline_asset_content -}}
      </span>
    </summary>

    <div class="details-content">
      {% content_for 'blocks' %}
    </div>
  </details>
{% endcapture %}
{% render 'accordion-custom-component',
  children: accordion_row_children,
  open_by_default_on_desktop: block_settings.open_by_default,
  open_by_default_on_mobile: block_settings.open_by_default
%}

{% schema %}
{
  "name": "t:names.accordion_row",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings.heading",
      "default": "t:text_defaults.accordion_heading"
    },
    {
      "type": "checkbox",
      "id": "open_by_default",
      "label": "t:settings.open_row_by_default",
      "default": false
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "info": "t:info.edit_presets_in_theme_settings",
      "options": [
        { "value": "", "label": "t:options.default" },
        { "value": "paragraph", "label": "t:options.paragraph" },
        { "value": "h1", "label": "t:options.h1" },
        { "value": "h2", "label": "t:options.h2" },
        { "value": "h3", "label": "t:options.h3" },
        { "value": "h4", "label": "t:options.h4" },
        { "value": "h5", "label": "t:options.h5" },
        { "value": "h6", "label": "t:options.h6" },
        { "value": "custom", "label": "t:options.custom" }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        { "value": "var(--font-body--family)", "label": "t:options.body" },
        { "value": "var(--font-subheading--family)", "label": "t:options.subheading" },
        { "value": "var(--font-heading--family)", "label": "t:options.heading" },
        { "value": "var(--font-accent--family)", "label": "t:options.accent" }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        { "value": "", "label": "t:options.default" },
        { "value": "0.75rem", "label": "12px" },
        { "value": "0.875rem", "label": "14px" },
        { "value": "1rem", "label": "16px" },
        { "value": "1.125rem", "label": "18px" },
        { "value": "1.25rem", "label": "20px" },
        { "value": "1.5rem", "label": "24px" },
        { "value": "2rem", "label": "32px" },
        { "value": "2.5rem", "label": "40px" },
        { "value": "3rem", "label": "48px" },
        { "value": "3.5rem", "label": "56px" },
        { "value": "4.5rem", "label": "72px" },
        { "value": "5.5rem", "label": "88px" }
      ],
      "default": "",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        { "value": "tight", "label": "t:options.tight" },
        { "value": "normal", "label": "t:options.normal" },
        { "value": "loose", "label": "t:options.loose" }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        { "value": "tight", "label": "t:options.tight" },
        { "value": "normal", "label": "t:options.normal" },
        { "value": "loose", "label": "t:options.loose" }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        { "value": "none", "label": "t:options.default" },
        { "value": "uppercase", "label": "t:options.uppercase" }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "type_preset_mobile",
      "label": "t:settings.preset_mobile",
      "info": "t:info.overrides_typography_mobile",
      "options": [
        { "value": "", "label": "t:options.same_as_desktop" },
        { "value": "paragraph", "label": "t:options.paragraph" },
        { "value": "h1", "label": "t:options.h1" },
        { "value": "h2", "label": "t:options.h2" },
        { "value": "h3", "label": "t:options.h3" },
        { "value": "h4", "label": "t:options.h4" },
        { "value": "h5", "label": "t:options.h5" },
        { "value": "h6", "label": "t:options.h6" },
        { "value": "custom", "label": "t:options.custom" }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "mobile_font_size",
      "label": "t:settings.size",
      "options": [
        { "value": "", "label": "t:options.default" },
        { "value": "0.75rem", "label": "12px" },
        { "value": "0.875rem", "label": "14px" },
        { "value": "0.9375rem", "label": "15px" },
        { "value": "1rem", "label": "16px" },
        { "value": "1.0625rem", "label": "17px" },
        { "value": "1.125rem", "label": "18px" },
        { "value": "1.25rem", "label": "20px" },
        { "value": "1.5rem", "label": "24px" },
        { "value": "2rem", "label": "32px" },
        { "value": "2.5rem", "label": "40px" },
        { "value": "3rem", "label": "48px" },
        { "value": "3.5rem", "label": "56px" }
      ],
      "default": "",
      "visible_if": "{{ block.settings.type_preset_mobile == 'custom' }}"
    },
    {
      "type": "range",
      "id": "mobile_custom_line_height",
      "label": "t:settings.line_height",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "default": 1.5,
      "visible_if": "{{ block.settings.type_preset_mobile == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "range",
      "id": "heading_opacity",
      "label": "Heading opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:content.icon"
    },
    {
      "type": "select",
      "id": "icon",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "apple",
          "label": "t:options.apple"
        },
        {
          "value": "arrow",
          "label": "t:options.arrow"
        },
        {
          "value": "banana",
          "label": "t:options.banana"
        },
        {
          "value": "bottle",
          "label": "t:options.bottle"
        },
        {
          "value": "box",
          "label": "t:options.box"
        },
        {
          "value": "carrot",
          "label": "t:options.carrot"
        },
        {
          "value": "chat_bubble",
          "label": "t:options.chat_bubble"
        },
        {
          "value": "check_box",
          "label": "t:options.check_box"
        },
        {
          "value": "clipboard",
          "label": "t:options.clipboard"
        },
        {
          "value": "dairy",
          "label": "t:options.dairy"
        },
        {
          "value": "dairy_free",
          "label": "t:options.dairy_free"
        },
        {
          "value": "dryer",
          "label": "t:options.dryer"
        },
        {
          "value": "eye",
          "label": "t:options.eye"
        },
        {
          "value": "fire",
          "label": "t:options.fire"
        },
        {
          "value": "gluten_free",
          "label": "t:options.gluten_free"
        },
        {
          "value": "heart",
          "label": "t:options.heart"
        },
        {
          "value": "iron",
          "label": "t:options.iron"
        },
        {
          "value": "leaf",
          "label": "t:options.leaf"
        },
        {
          "value": "leather",
          "label": "t:options.leather"
        },
        {
          "value": "lightning_bolt",
          "label": "t:options.lightning_bolt"
        },
        {
          "value": "lipstick",
          "label": "t:options.lipstick"
        },
        {
          "value": "lock",
          "label": "t:options.lock"
        },
        {
          "value": "map_pin",
          "label": "t:options.map_pin"
        },
        {
          "value": "nut_free",
          "label": "t:options.nut_free"
        },
        {
          "value": "pants",
          "label": "t:options.pants"
        },
        {
          "value": "paw_print",
          "label": "t:options.paw_print"
        },
        {
          "value": "pepper",
          "label": "t:options.pepper"
        },
        {
          "value": "perfume",
          "label": "t:options.perfume"
        },
        {
          "value": "plane",
          "label": "t:options.plane"
        },
        {
          "value": "plant",
          "label": "t:options.plant"
        },
        {
          "value": "price_tag",
          "label": "t:options.price_tag"
        },
        {
          "value": "question_mark",
          "label": "t:options.question_mark"
        },
        {
          "value": "recycle",
          "label": "t:options.recycle"
        },
        {
          "value": "return",
          "label": "t:options.return"
        },
        {
          "value": "ruler",
          "label": "t:options.ruler"
        },
        {
          "value": "serving_dish",
          "label": "t:options.serving_dish"
        },
        {
          "value": "shirt",
          "label": "t:options.shirt"
        },
        {
          "value": "shoe",
          "label": "t:options.shoe"
        },
        {
          "value": "silhouette",
          "label": "t:options.silhouette"
        },
        {
          "value": "bluesky",
          "label": "t:options.social_bluesky"
        },
        {
          "value": "facebook",
          "label": "t:options.social_facebook"
        },
        {
          "value": "instagram",
          "label": "t:options.social_instagram"
        },
        {
          "value": "linkedin",
          "label": "t:options.social_linkedin"
        },
        {
          "value": "pinterest",
          "label": "t:options.social_pinterest"
        },
        {
          "value": "snapchat",
          "label": "t:options.social_snapchat"
        },
        {
          "value": "spotify",
          "label": "t:options.social_spotify"
        },
        {
          "value": "threads",
          "label": "t:options.social_threads"
        },
        {
          "value": "tiktok",
          "label": "t:options.social_tiktok"
        },
        {
          "value": "tumblr",
          "label": "t:options.social_tumblr"
        },
        {
          "value": "twitter",
          "label": "t:options.social_twitter"
        },
        {
          "value": "vimeo",
          "label": "t:options.social_vimeo"
        },
        {
          "value": "youtube",
          "label": "t:options.social_youtube"
        },
        {
          "value": "whatsapp",
          "label": "t:options.social_whatsapp"
        },
        {
          "value": "snowflake",
          "label": "t:options.snowflake"
        },
        {
          "value": "star",
          "label": "t:options.star"
        },
        {
          "value": "stopwatch",
          "label": "t:options.stopwatch"
        },
        {
          "value": "truck",
          "label": "t:options.truck"
        },
        {
          "value": "washing",
          "label": "t:options.washing"
        }
      ],
      "default": "none"
    },
    {
      "type": "image_picker",
      "id": "image_upload",
      "label": "t:settings.image_icon"
    },
    {
      "type": "range",
      "id": "width",
      "label": "t:settings.width",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:names.accordion_row",
      "blocks": {
        "text-1": {
          "type": "text",
          "settings": {
            "text": "t:html_defaults.work_quickly_to_ship",
            "width": "100%"
          }
        }
      },
      "block_order": ["text-1"],
      "settings": {
        "heading": "t:text_defaults.when_will_order_arrive"
      }
    }
  ]
}
{% endschema %}
